{% extends "recipe/base.html" %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static "brew.css" %}">
  <link rel="stylesheet" href="{% static "hwx-table.css" %}">

  <!-- Template: content of an ingredient row-->
  <script id="ingredient" type="text/x-handlebars-template">
    {% verbatim %}
      <tr class="ingredient-data hwx-tr">
        <td class="qty">{{ingredient.qty}}</td>
        <td class="ingredient-name">{{ingredient.name}}{{#if ingredient.variety }}, {{ingredient.variety}}{{/if}}</td>
        <td class="sugar">{{ingredient.sugar}}</td>
        <td class="acid">{{ingredient.acid}}</td>
        <td class="tannin">{{ingredient.tannin}}</td>
        <td class="solids">{{ingredient.solids}}</td>
        <td class="redness" hidden>{{ingredient.redness}}</td>
      </tr>
    {% endverbatim %}
  </script>

  <!-- Template: wine style display-->
  <script id="style" type="text/x-handlebars-template">
    {% verbatim %}
      <div>
        <i>Style: </i>{{style.grapes}}, {{style.region}}; 
        {{style.sweetness}} {{style.colour}}, {{style.alcohol}}% alcohol
      </div>
    {% endverbatim %}
  </script>

  <!-- Template: log entry display-->
  <script id="logentry" type="text/x-handlebars-template">
    {% verbatim %}
    <div class="log-container">
      <div class="log-entry">
        <div class="log-date">{{logEntry.datetime}}</div>
        <div class="log-text">{{{logEntry.text}}}</div>
      </div>
      {{#each logEntry.comments}}
        <div class="log-comment">
          <span class="log-comment-text">{{{this.text}}}</span>
          &ndash;
          <a class="log-comment-user" href="#">{{this.user}}</a>
          <span class="log-comment-date">{{this.datetime}}</span>
        </div>
      {{/each }}
      {% endverbatim %}
      <div class="new-comment">
        <a href="#" class="comment-button">Add comment</a>
        <form class="comment-form" hidden>
          {% csrf_token %}
          {% verbatim %}
          <input name="logEntry_id" value="{{logEntry.id}}" hidden>
          <textarea name="comment" placeholder="Comment"></textarea>
          <button type="button" class="btn btn-secondary" disabled>Save</button>
          {% endverbatim %}
        </form>
      </div>
    </div>
  </script>

  <script type="module" src="{% static "brew.js" %}"></script>
{% endblock %}

{% block body %}
  <div class="mainview">

    <!-- Page heading -->
    <!-- Brew <recipe name> <volume>     <username> -->
    <!-- <Style>    <Style info>                    -->  
    <div class="page-heading">
      <span id="brew" data-brew_id="{{brew.id}}"></span>
      <h3>Brewing</h3>
      <span class="inline" id="recipe" data-recipe_id="{{brew.recipe_id}}">{{recipe.name}}</span>
      <span class="inline" id="volume">{{brew.size_l}}</span>
      <span class="inline" id="volume-unit">L</span>,
      <i>Brewer:</i> <span class="inline author">{{brew.user}}</span>
      <span id="recipe-style"></span>
      <span id="recipe-volume" data-recipe_volume_l="{{recipe.volume_l}}"></span>
    </div>

    <!-- Tabs -->
    <!-- Ingredients   Method   Log -->
    <nav class="nav nav-pills nav-fill" id="tabs">
      <a class="nav-item nav-link" data-name="Ingredients" href="#">Ingredients</a>
      <a class="nav-item nav-link" data-name="Method" href="#">Method</a>
      <a class="nav-item nav-link" data-name="Log" href="#">Log</a>
    </nav>

    <!-- Ingredients tab content -->
    <div class="tab-detail" data-name="Ingredients">
      <table class="table hwx-table" id="ingredients-table">
        <thead>
          <th>Qty<br><span id="qty-unit"></span></th>
          <th>Name</th>
          <th>Sugar<br>(Grav)</th>
          <th>Acid<br>(g/l)</th>
          <th>Tannin<br>(g/l)</th>
          <th>Solids<br>(g/l)</th>
        </thead>
        <tbody id="ingredients">
        </tbody>
      </table>
    </div>

    <!-- Method tab content -->
    <div class="tab-detail" data-name="Method">
      Method content
    </div>

    <!-- Log tab content -->
    <div class="tab-detail" data-name="Log">
      <!-- Log entries -->
      <div id="log-entries">
        Log entries here.
      </div>

      <!-- New log entry box -->
      <form class="log-form">
        {% csrf_token %}
        <input name="id" value="{{brew.id}}" hidden>
        <textarea name="logtext" id="logtext" placeholder="New log entry"></textarea>
        <button type="button" class="btn btn-secondary" disabled>Save</button>
      </form>
    </div>
  </div>
{% endblock %}