{% extends "recipe/base.html" %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static "profile.css" %}">

  <script src="{% static "profile.js" %}"></script>
{% endblock %}

{% block body %}
<div id="profile">
  <h2>User Profile</h2>
  <form method="post" action="{% url 'profile' %}">
    {% csrf_token %}
    <div class="form-group row">
      <label for="username" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" id="username" value="{{user.username}}" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control-plaintext" id="email" value="{{user.email}}" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="first_name" class="col-sm-2 col-form-label">First name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="first_name" id="first_name" value="{{user.first_name}}" data-value="{{user.first_name}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="last_name" class="col-sm-2 col-form-label">Last name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="last_name" id="last_name" value="{{user.last_name}}" data-value="{{user.last_name}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="location" class="col-sm-2 col-form-label">Location</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="location" id="location" value="{{profile.location}}" data-value="{{user.location}}">
      </div>
    </div>
    <fieldset class="form-group solid_small_units" data-value="{{profile.solid_small_units}}">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Solid small units</legend>
        <div class="col-sm-10">
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="solid_small_units" id="solid_small_units_g" value="1" {% if profile.solid_small_units == 1 %}checked{% endif %}>
            <label class="custom-control-label" for="solid_small_units_g">g</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="solid_small_units" id="solid_small_units_oz" value="3" {% if profile.solid_small_units == 3 %}checked{% endif %}>
            <label class="custom-control-label" for="solid_small_units_oz">oz</label>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group solid_large_units" data-value="{{profile.solid_large_units}}">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Solid large units</legend>
        <div class="col-sm-10">
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="solid_large_units" id="solid_large_units_kg" value="0" {% if profile.solid_large_units == 0 %}checked{% endif %}>
            <label class="custom-control-label" for="solid_large_units_kg">kg</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="solid_large_units" id="solid_large_units_lb" value="2" {% if profile.solid_large_units == 2 %}checked{% endif %}>
            <label class="custom-control-label" for="solid_large_units_lb">lb</label>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group liquid_small_units" data-value="{{profile.liquid_small_units}}">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Liquid small units</legend>
        <div class="col-sm-10">
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="liquid_small_units" id="liquid_small_units_ml" value="1" {% if profile.liquid_small_units == 1 %}checked{% endif %}>
            <label class="custom-control-label" for="liquid_small_units_ml">ml</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="liquid_small_units" id="liquid_small_units_flozus" value="4" {% if profile.liquid_small_units == 4 %}checked{% endif %}>
            <label class="custom-control-label" for="liquid_small_units_flozus">fl oz (US)</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="liquid_small_units" id="liquid_small_units_flozimp" value="5" {% if profile.liquid_small_units == 5 %}checked{% endif %}>
            <label class="custom-control-label" for="liquid_small_units_flozimp">fl oz (Imp)</label>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group liquid_large_units" data-value="{{profile.liquid_large_units}}">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Liquid large units</legend>
        <div class="col-sm-10">
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="liquid_large_units" id="liquid_large_units_l" value="0" {% if profile.liquid_large_units == 0 %}checked{% endif %}>
            <label class="custom-control-label" for="liquid_large_units_l">l</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="liquid_large_units" id="liquid_large_units_galus" value="2" {% if profile.liquid_large_units == 2 %}checked{% endif %}>
            <label class="custom-control-label" for="liquid_large_units_galus">gal (US)</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" name="liquid_large_units" id="liquid_large_units_galimp" value="3" {% if profile.liquid_large_units == 3 %}checked{% endif %}>
            <label class="custom-control-label" for="liquid_large_units_galimp">gal (Imp)</label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="submit btn btn-secondary" disabled>Save</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}