{% extends "recipe/base.html" %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static "recipe.css" %}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>

  <!-- Template: content of an ingredient row-->
  <script id="ingredient" type="text/x-handlebars-template">
    {% verbatim %}
      <div class="list-group-item">
        <div class="row ingredient-table ingredient-data">
          <div class="col-5 ingredient-col">
            <div class="handle">
              <span class="fa fa-sort"></span>
              <input class="ingredient-name" value="{{ingredient.name}}{{#if ingredient.variety }}, {{ingredient.variety}}{{/if}}" readonly>
            </div>
            <input type="number" name="ingredient_id[]" value="{{ingredient.id}}" hidden>
            <input type="number" name="ingredient_order[]" value="{{ingredient.order}}" hidden>
            <button type="button" class="fa fa-trash m-1 btn btn-light remove-button" data-index="{{index}}" data-toggle="tooltip" title="Remove"></button>
          </div>
          <input type="number" name="qty[]" step="0.01" min="0" class="col-2 col-md-2 col-lg-1 form-control qty" value="{{ingredient.qty}}" data-index="{{index}}">
          <span class="col-1 ingredient-value sugar">{{ingredient.sugar}}</span>
          <span class="col-1 ingredient-value acid">{{ingredient.acid}}</span>
          <span class="col-1 ingredient-value tannin">{{ingredient.tannin}}</span>
          <span class="col-1 ingredient-value solids">{{ingredient.solids}}</span>
          <span class="col-1 ingredient-value redness">{{ingredient.redness}}</span>
        </div>
      </div>
    {% endverbatim %}
  </script>
  
  <!-- Template: content of the new ingredient row-->
  <script id="new_ingredient" type="text/x-handlebars-template">
    {% verbatim %}
      <div class="col-5">
      <select id="new_ingr_select" value="-1">
        <option value="-1">&nbsp;&nbsp;&nbsp;--- Select new ingredient ---</option>
        {{# each ingredients}}
          <option value="{{this.id}}">{{this.name}}{{#if this.variety }}, {{this.variety}}{{/if}}</option>
        {{/each}}
      </select>
      <button type="button" id="new_ingr_button" class="m-1 btn btn-secondary" disabled>Add</button>
      </div>
      <div class="col-1"></div>
      <div class="col-1">
        <button type="button" class="fa fa-bar-chart m-1 btn btn-secondary graph-button"></button>
      </div>
    {% endverbatim %}
  </script>

  <!-- Template: content of the totals row-->
  <script id="ingredient_totals" type="text/x-handlebars-template">
    {% verbatim %}
      <span class="col-5 ingredient-total" >{{legend}}</span>
      <span class="col-2 col-md-2 col-lg-1 ingredient-total"></span>
      <span class="col-1 ingredient-total sugar">{{totals.sugar}}</span>
      <span class="col-1 ingredient-total acid">{{totals.acid}}</span>
      <span class="col-1 ingredient-total tannin">{{totals.tannin}}</span>
      <span class="col-1 ingredient-total solids">{{totals.solids}}</span>
      {{#if totals.redness}}
        <span class="col-1 ingredient-total redness">{{totals.redness}}</span>
      {{/if}}
    {% endverbatim %}
  </script>

  <!-- Template: wine style display-->
  <script id="style" type="text/x-handlebars-template">
    {% verbatim %}
      <div>Style: {{style.grapes}}, {{style.region}}</div>
    {% endverbatim %}
  </script>

  <!-- Template: content of the new ingredient row-->
  <script id="style_info" type="text/x-handlebars-template">
    {% verbatim %}
      <div>{{style.sweetness}} {{style.colour}}, {{style.alcohol}}% alcohol</div>
    {% endverbatim %}
  </script>

  <script src="{% static "recipe.js" %}"></script>
{% endblock %}

{% block body %}
  <div class="row flex-fill mainview">
    <div class="col-lg-8 col-md-8 col-12">
      <form name="recipe-form">
        {% csrf_token %}
        <input type="hidden" name="id" id="recipe_id" value="{{id}}">

        <!-- Title/Volume   Style/Description   Edit/Brew -->
        <div class="row ingredient-table">
          <div class="col-5 full-width">
            <div class="tltip full-width">
              <input type="text" name="name" id="recipe-name" class="form-control-plaintext" value="{{name}}">
              <span class="tltiptext">Rename</span>
            </div>
            <label class="left-label inline" for="volume">Volume</label>
            <input type="number" step="0.1" name="volume" id="volume" class="form-control inline" value="{{volume_l}}">
            <span class="inline" id="volume-unit">L</span>
          </div>
          <div class="col-5 col-md-5 col-lg-4 full-width">
            <span id="recipe-style" data-style_id="{{style_id}}"></span>
            <span id="style-info"></span>
            <div class="tltip full-width">
              <textarea name="descr" id="recipe-descr" class="text form-control-plaintext" rows="1" 
                maxlength="1000" value="{{descr}}"></textarea>
              <span class="tltiptext">Edit description</span>
            </div>
          </div>
          <div class="col-1 full-width">
          </div>
          <div class="col-1 full-width">
            <button type="button" id="edit_button" class="m-1 btn btn-secondary">Edit</button>
            <button type="button" id="brew_button" class="m-1 btn btn-secondary">Brew</button>
          </div>
        </div>

        <!--          Column-titles -->
        <div class="row ingredient-table">
          <span class="col-5"></span>
          <span class="col-2 col-md-2 col-lg-1 heading">Qty</span>
          <span class="col-1 heading">Sugar</span>
          <span class="col-1 heading">Acid</span>
          <span class="col-1 heading">Tannin</span>
          <span class="col-1 heading">Solids</span>
          <span class="col-1 heading">Redness</span>
        </div>

        <!--          Column-units -->
        <div class="row ingredient-table">
          <span class="col-5"></span>
          <span class="col-2 col-md-2 col-lg-1 heading" id="qty-unit">(kg&nbsp;L)</span>
          <span class="col-1 heading">(grav)</span>
          <span class="col-1 heading">(g/l)</span>
          <span class="col-1 heading">(g/l)</span>
          <span class="col-1 heading">(g/l)</span>
          <span class="col-1"></span>
        </div>

        <!-- Ingredients -->
        <div id="ingredients" class="list-group">
        </div>

        <!-- Additional acid from fermenation -->
        <div class="row ingredient-table" id="acid-from-fermentation">
          <div class="col-5 full-width" >
            <div class="adacid-label" >Acid from fermenation</div>
          </div>
          <span class="col-3 col-md-3 col-lg-2"></span>
          <span class="col-1 ingredient-value">1.50</span>
        </div>

        <!-- New ingredient selector -->
        <div class="row ingredient-table" id="ingredient-select">
        </div>

        <!-- TOTALS -->
        <div class="row ingredient-table" id="ingredient-totals">
        </div>

        <!-- TARGETS -->
        <div class="row ingredient-table" id="style-targets">
        </div>

        <!-- Save -->
        <div class="row ingredient-table">
          {% if user.is_authenticated %}
            <button type="button" class="btn btn-secondary" id="save-button" style="visibility:hidden">Save</button>
            <span id="save-status" style="visibility:hidden">Saved</span>
          {% endif %}
        </div>

      </form>
    </div>
    <div id="chart-block" class="col-lg-4 col-md-4 col-7">
      <canvas width="100%" height="100%"></canvas>
    </div>
  </div>

  <!-- Chart -->
  <div id="modal-chart-block">
    <div id="chart-handle" class="menubar"></div>
    <div id="button-box" class="menubar">
      <button type="button" class="fa fa-close m-1 btn btn-light close-button" data-toggle="tooltip" title="Close"></button>
    </div>
    <div id="modal-chart-container">
      <canvas width="100%" height="100%"></canvas>
    </div>
  </div>
  <div id="modal-chart-shadow"></div>

{% endblock %}
