{% extends "recipe/base.html" %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static "recipes.css" %}">

  <script id="recipe_list" type="text/x-handlebars-template">
    {% verbatim %}
      {{# each recipes }}
        <tr class="recipe-row" data-id="{{this.id}}">
          <td>{{this.name}}</td>
          <td>{{this.style.grapes}}, {{this.style.region}}</td>
          <td>{{this.style.sweetness}} {{this.style.colour}} {{this.style.alcohol}}% alc</td>
          <td>{{this.create_date}}</td>
          <td>{{this.created_by}}</td>
        </tr>
      {{/each}}
    {% endverbatim %}
  </script>

  <script type="module" src="{% static "recipes.js" %}"></script>
{% endblock %}

{% block body %}
  <div class="mainview">
    {% if thisUserOnly %}
      <h3>My Recipes</h3>
    {% endif %}
    <table id="recipe-table" {% if thisUserOnly %}class="this-user-only"{% endif %}>
      <tr>
        <th id="th-name" data-order='name'>Name <span class="fa fa-sort"></span></th>
        <th data-order='style__grapes,style__region'>Style <span class="fa fa-sort"></span></th>
        <th data-order='style__sweetness,style__colour'>Type <span class="fa fa-sort"></span></th>
        <th data-order='create_date'>Date <span class="fa fa-sort"></span></th>
        <th data-order='created_by'>By <span class="fa fa-sort"></span></th>
      </tr>
    </table>
    <form action="/newrecipe"><button type="link" class="m-1 btn btn-secondary">
      New recipe
    </button></form>
    {% if thisUserOnly %}
      <h3>My Brews</h3>
      <table id="brew-table">
        <tr>
          <th id="th-recipe">Recipe</th>
          <th>Brewer</th>
          <th>Last update</th>
          <th>Status</th>
        </tr>
      </table>
    {% endif %}

  </div>
{% endblock %}
