#account {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  font-size: 1.1em;
}

label, legend {
  font-style: italic;
}

.form-control-plaintext {
  font-size: 1.1em;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #7e7e7e;
  border-color: #7e7e7e;
}