* {
  font-family: Arial, Helvetica, sans-serif;
  color: #014101;
}

html {
  background: #f0e5db;
}

.bannerbar {
  background-color: #fff7e0;
}

.navbar-brand img {
  width:300px;
}

.menubar {
  background-color: #800064;
}

.menubar .nav-item {
  color: white;
  font-size: 1.4em;
  padding: 0.1em 1em 0.1em 1em;
}

.menubar .nav-item:hover, .menubar .nav-item:hover {
  text-decoration: none;
  background-color: #a70082;
}

.nav-link, .nav-icon {
  color: inherit;
}

.navbar-toggler {
  font-size: 1.4em;
  padding: 0.3em;
  margin: 0em;
  border: none;
}