html {
  scroll-behavior: smooth;
}

.mainview {
  max-width: 1000px;
  margin: auto;
  font-size: 1em;
}

h3 {
  font-size: 1.5em;
}

.nav-pills .nav-link {
  color: #014101;
  background-color: #f8f8f8!important;
  font-size: 1.1em;
  margin-bottom: 6px;
}

.nav-pills .nav-link.active, 
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link:hover {
  color: #014101;
  background-color: #fff7e0!important;
}

.nav-pills .nav-link.active, 
.nav-pills .nav-link.active:hover {
  border-bottom: solid 2px pink;
}

.log-container {
  font-size: 0.8em;
  border-top: solid 1px lightgrey;
  padding: 0 10px 0 10px;
}

.log-date {
  font-size: 1.2em;
}

.log-comment {
  font-size: 1em;
  border-top: solid 1px lightgrey;
  margin-left: 10px;
  padding-left: 10px;
}

.log-comment-text {
  color: #404040;
}

.log-comment-date {
  color: grey;
}

.new-comment {
  font-size: 0.9em;
  border-top: solid 1px lightgrey;
  margin-left: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.comment-form textarea {
  width: 100%;
}

.log-entry-button-container {
  font-size: 0.8em;
  padding-left: 10px;
  padding-bottom: 10px;
}

#logtext {
  width: 100%;
  font-size: 0.8em;
}

.log-text pre {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}