label, legend {
  font-style: italic;
}

#recipe-name {
  padding: 0px 1px 0px 1px; /* make sure cursor visible when at start of text. */
  font-size: 1.4em;
}

.full-width {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Element containing a tooltip */
.tltip {
  border-style: solid;
  border-color: white;
  border-radius: 4px;
  border-width: 2px;
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0px 0px 0px 0px;
}

/* The tooltip iteself */
.tltip .tltiptext {
  visibility: hidden;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  background-color: rgb(98, 98, 98);
  color: #fff;
  text-align: center;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 80%;
}

/* Tooltip top arrow */
.tltip .tltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tltip:hover {
  border-color: rgb(98, 98, 98);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tltip:hover .tltiptext {
  visibility: visible;
}

/* Align items at the bottom of a box */
.bottom {
  display:flex;
  align-items: flex-end;
}

#volume {
  width: 100%;
  max-width: 4em;
}

#recipe-descr, #recipe-descr-clone {
  padding: 0px 2px 0px 2px;
  margin: 0px;
  width: 100%;
}

#recipe-descr:hover {
  border-color: black;
  border-style: solid;
}

#recipe-descr-zero {
  height: '0';
}

.ingredient-table, .left-label {
  padding: 0px 5px 0px 5px;
  margin: 0px;
}

.ingredient-value, .ingredient-total {
  text-align: center;
  padding: 7px 0;
}

.ingredient-name, .adacid-label {
  margin-top: 7px;
  width: 80%;
  border: 0;
}

#ingredient-totals {
  border-top: solid;
  border-width: 1px;
}

.remove-button {
  float: right;
  padding: 4px;
  font-size: 1.2em;
  color: #014101;
}

#ingredient-totals {
  padding-top: 5px;
}

#new_ingr_select {
  padding: 0;
  margin: 4px 0px 4px 0px;
}

#save-status {
  opacity: 1;
  transition: opacity 0s; 
}

#save-status.fade {
  opacity: 0;
  transition: opacity 5s; 
}
