label, legend {
  font-style: italic;
}

.mainview {
  font-size: 0.8em;
}
#recipe-name {
  padding: 0px 1px 0px 1px; /* make sure cursor visible when at start of text. */
  font-size: 1.1em;
}

.full-width {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Element containing a tooltip */
.tltip {
  border-style: solid;
  border-color: white;
  border-radius: 4px;
  border-width: 2px;
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0px 0px 0px 0px;
}

/* The tooltip iteself */
.tltip .tltiptext {
  visibility: hidden;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  background-color: rgb(98, 98, 98);
  color: #fff;
  text-align: center;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 80%;
}

/* Tooltip top arrow */
.tltip .tltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tltip:hover {
  border-color: rgb(98, 98, 98);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tltip:hover .tltiptext {
  visibility: visible;
}

/* Align items at the bottom of a box */
.bottom {
  display:flex;
  align-items: flex-end;
}

.left-label {
  padding: 3px 5px 0px 5px;
  margin: 0px;
}

#volume-unit {
  padding-top: 3px;
}

#volume {
  width: 100%;
  max-width: 4em;
  float: left;
  margin-right: 5px;
  font-size: 1em;
  padding: 0 6px 0 6px;
  height: 2em;
}

#recipe-descr, #recipe-descr-clone {
  padding: 0px 2px 0px 2px;
  margin: 0px;
  width: 100%;
}

#recipe-descr:hover {
  border-color: black;
  border-style: solid;
}

#recipe-descr-zero {
  height: '0';
}

.ingredient-table .heading {
  text-align: center;
}

.ingredient-table {
  padding: 0px 5px 0px 5px;
  margin: 0px;
}

.ingredient-value, .ingredient-total {
  text-align: center;
  padding: 7px 0;
}

.adacid-label {
  margin-top: 7px;
  width: 80%;
  border: 0;
}

.ingredient-name {
  width: 90%;
  border: 0;
}

.list-group-item {
  padding: 0;
  margin: 0;
  border: none;
  height: 2em;
}

.ingredient-col {
  padding: 0px;
}

.ingr-div {
  width:80%;
  margin: 0;
  padding: 0;
  float: left;
}

.handle {
  float: left;
}

input.qty {
  font-size: 1em;
  padding: 0 6px 0 6px;
  height: 2em;
}

#ingredient-totals {
  border-top: solid;
  border-width: 1px;
}

.remove-button {
  float: right;
  padding: 0;
  margin: 0;
  font-size: 1em;
  color: #014101;
}

#chart-handle {
  background-color: #800064;
  margin: 0;
  padding: 0;
}

.close-button {
  padding: 3px;
  margin: 0;
  position: relative;
  left: 90%;
  margin-left: 12px;
  border: none;
  font-size: 0.8em;
  color: white;
  background-color: #800064;
}

#ingredient-totals {
  padding-top: 5px;
}

#new_ingr_select {
  padding: 0;
  margin: 4px 0px 4px 0px;
  height: 2em;
}

#new_ingr_button {
  font-size: 1em;
  padding: 0 5px 0 5px;
  height: 2em;
}

#save-status {
  opacity: 1;
  transition: opacity 0s; 
}

#save-status.fade {
  opacity: 0;
  transition: opacity 5s; 
}

#modal-chart-block, #modal-chart-shadow {
  top: 30%;
  left: 65%;
  height: 60%;
  width: 30%;
  position: absolute;
  border-radius: 6px;
}

#modal-chart-block.portrait, #modal-chart-shadow.portrait {
  top: 65%;
  left: 30%;
  height: 30%;
  width: 60%;
}

#modal-chart-block {
  border: solid;
  border-width: 1px;
  z-index: 2;
  background-color: white;
}

#modal-chart-shadow {
  margin-top: 10px;
  margin-left: 10px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-chart-container {
  width: 100%;
  height: 85%;
}