.mainview {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  font-size: 1em;
}

h3 {
  font-size: 1em;
}

#recipe-table {
  width: 100%;
  font-size: 0.8em;
}

#th-name {
  min-width: 4.5em;
}

th, .recipe-row, td {
  padding: 3px;
  cursor: pointer;
}

th:hover, .recipe-row:hover {
  background: #dfdfdf;
}